.weather__details {
    padding: 16px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px; 
    width: 50%;
}

@media screen and (max-width: 768px) {
    .weather__details {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 10px;
        justify-content: center;
    }
}
@media screen and (max-width: 520px) {
    .weather__details {
        display: flex;
        flex-wrap: wrap;
    }
}
